:root {
    --poppins-font: 'Poppins', sans-serif;
    --ptsans-font: 'PT Sans Narrow', sans-serif;
}

body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(12rem, 20vh) auto;
    grid-template-rows: 10vh 20vh auto;
    height: 100vh;
    padding: 0rem;
    margin: 0rem;
}

.left-panel-container {
    background-color: #1992d4;
    display: grid;
    grid-template-rows: 10vh 1fr 1fr;
    grid-row-start: 1;
    grid-row-end: -1;
}

.left-panel-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
}

.logo-img {
    height: auto;
    width: 3rem;
}

.logo-name {
    font-family: var(--ptsans-font);
    font-size: 2rem;
    color: #fbfbfe;
}

.top-panel-container {
    background-color: green;
    grid-column-start: 2;
    grid-column-end: -1;
}

.action-panel-container {
    background-color: yellow;
    grid-column-start: 2;
    grid-column-end: -1;
}

.info-panel-container {
    background-color: orange;
    grid-column-start: 2;
    grid-column-end: -1;
}